<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>You have been invited to <%= @application_name %> by <%= @reservation.inviter.first_name+" "+@reservation.inviter.last_name %>!</h1>
<p>
  To register to the site, just follow the link and fill out the form: <%= @url %>.
</p>
<p>Thanks and have a great day!</p>
</body>
</html>