<h3>Groups</h3>
<ul class="group_list">
  <% @groups.each do |group| %>
      <% gu = GroupsUser.where('group_id = ? AND user_id = ? AND status = 1', group.id, current_user.id) %>
      <% if gu.count > 0 %>
        <li><a href="/posts?group=<%= group.id %>"><i class="icon-group"></i> <%= group.name %></a></li>
      <% end %>
  <% end %>
  <li>
    <%= link_to new_group_path do %>
      <i class="icon-plus"></i> New Group
    <% end %>
  </li>
</ul>