<h1>Listing companies</h1>

<table class="table table-bordered table-striped table-condensed">
  <thead>
      <tr>
        <th>Name</th>
      </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company_link company %></td>
      </tr>
    <% end %>
  </tbody>
</table>
