<div class="post">
  <h4 class="name"><%=  post.user %></h4>
  <div class="message"><%= post.message %></div>
  <div class="date">
    <abbr class="timeago" title="<%= post.created_at.getutc.iso8601 %>">
      <%= post.created_at.to_s %>
    </abbr>
  </div>
</div>