/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 60px;
}

.menu {
  padding-right: 10px;
}

$content_border: 1px solid #999;

.content {
  border-left: $content_border;
  border-right: $content_border;
  margin: 0px -1px;
  padding: 0px 10px 10px 10px;
  min-height: 450px;
}

.sidebar {
  padding-left: 10px;
}