// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_post {
  input {
    display: block;
  }
  textarea {
    width: 100%;
  }
}

.post {
  padding: 0px;
  border-bottom: 1px solid #E2E2E2;

  .name {
    padding: 4px;
    background-color: #EFEFEF;
  }

  .message {
    padding: 4px;
  }

  .date {
    padding: 4px;
  }
}