// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$comment_margin: 10px;
$post_border: 1px solid #D3D3D3;

#new_post {
  input {
    display: block;
  }
  textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.post {
  padding: 0px;
  margin-bottom: 12px;
  border: $post_border;
  border-radius: 4px;

  .name {
    border-radius: 4px 4px 0px 0px;
    padding: 4px;
    background-color: #EFEFEF;

    transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;

    font-size: 20px;
    .image {
      img {
        max-width: 45px;
        max-height: 45px;
      }
    }
  }

  .name:hover {
    background-color: #DFDFDF;
  }

  .message {
    padding: 4px;

    textarea {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  .message_toggle {
    cursor: pointer;
    display: block;
  }
  .orig_message {
    display: none;
  }


  .date {
    padding: 4px;
  }

  .comments {
    .add_comment {
      display: none;
    }
    form {
      padding: 4px;
      input {
        display: block;
      }
    }

    .show_older_comments {
      margin-left: $comment_margin;
    }

    .comment {
      margin-left: $comment_margin;
      border-left: $post_border;
      padding-bottom: 4px;

      .name {
        border-radius: 0px;
      }
    }

    .comment-hidden {
      display: none;
    }
  }
}