// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$comment_margin: 10px;

#new_post {
  input {
    display: block;
  }
  textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.post {
  padding: 0px;
  border-bottom: 1px solid #E2E2E2;

  .name {
    padding: 4px;
    background-color: #EFEFEF;
  }

  .message {
    padding: 4px;
  }

  .date {
    padding: 4px;
  }

  .comments {
    form {
      input {
        display: block;
      }
    }

    .show_older_comments {
      margin-left: $comment_margin;
    }

    .comment {
      margin-left: $comment_margin;
      border-left: 1px solid #E2E2E2;
    }

    .comment-hidden {
      display: none;
    }
  }
}