// Place all the styles related to the users controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
  .image {
    float: left;
    img {
      width: 80px;
      height: 80px;
    }
  }

  p {
    margin-left: 95px;
  }
}

.profile-link {
  display: block;
  transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
.profile-link:hover {
  background-color: #DFDFDF;
  text-decoration: none;
}